.DS_Store
*.cywrk.*        
*.cyprj.*        
*.cycdx        
*.cyfit                    
*.uvopt        
*.uvproj        
*_timing.html        
*.cydsn/codegentemp        
*.cydsn/DP8051        
*.cydsn/Generated_Source
*/Debug
*.log
*.svd
*.rpt
*/Export